<form action="/admin/update_notes" method="POST">
    <div class="form-group">
        <label>Sélectionner l'Étudiant</label>
        <select name="user_id" class="input-table" style="width: 100%; margin-bottom: 20px;">
            {% for etudiant in tous_les_etudiants %}
                <option value="{{ etudiant.id }}">{{ etudiant.username }} ({{ etudiant.niveau }})</option>
            {% endfor %}
        </select>
    </div>

    <table>
        <tbody>
            {% for matiere in matieres_globales %}
            <tr>
                <td>{{ matiere.nom }}</td>
                <td>{{ matiere.coeff }}</td>
                <td>
                    <input type="number" name="note_{{ matiere.id }}" step="0.25" class="input-table note-input">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn-add" style="background: var(--success);">Valider pour cet étudiant</button>
</form>